<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="card">
      <h2 class="user"><%=user%></h2>
      <h3 class="date"><%=date%></h3>
      <h4 class="time"><%=time%></h4>
      <p class="message"><%=message%></p>
    </div>
  </body>
</html>
